@import './mixins.scss';
@import './landing.scss';
@import './gridArea.scss';
@import './workSection.scss';
@import './footerWave.scss';
@import './footer.scss';
@import './keyframes.scss';

*{
	box-sizing: border-box;
}

h3{
	font-size: 36px;
	text-align: center;
	margin: 3rem 0 1rem;
	@include large-screens {
		margin: 1rem 0;
	}
}
span{
	color: #000;
	font-size: 21px;
}
p{
	color: #333; 
	margin-bottom: 1rem;
	font-size: 16px;
}