@import './mixins.scss';

*{
	box-sizing: border-box;
}

h3{
	font-size: 36px;
	text-align: center;
	margin: 3rem 0 1rem;
	@include large-screens {
		margin: 1rem 0;
	}
}
span{
	color: #000;	font-size: 21px;
}
p{
	color: #333; margin-bottom: 1rem;
	font-size: 16px;
}
.landing{
	background-color:#cdd2e3;
	overflow: hidden;
	.main-content{
	    position:relative;
	}
  	.about{
	    width: 100%;
	    padding: 10rem 0;
	    display: flex;
	    justify-content: center;
	    align-items: flex-end;
	    position: relative;
	    h1{
	      	font-size: 3.1rem;
	      	color: #624561;
	    }
	}
  	.roundbg{
	    background-color: #f1f1fe;
	    border-radius: 50%;
	    position: absolute;
	    top: 40vh;
	    left: 0;
	    height: 300px;
	    width: 300px;
  	}
  	.only-dktp{
	  	display: none;
	  	@include medium-screens{
	  		display: block;
	  	}
  	}
  	.not-dktp{
  		display: block;
  		@include medium-screens{
  			display: none;
  		}
  	}
  	.big{
	    top: -5vh;
	    left: 70vw;
	    transform: scale(2);
	    background-color: #f1e2e1;
  	}
  	.small{
	    top: 2vh;
	    left: 21vw;
	    transform: scale(.3);
	    background-color: #01c2ea;
	    opacity: .3;
  	}
	.curved-bar{
	    background-color: #f1f1f1;
	    clip-path: ellipse(100% 100% at 50% 100%);
	    min-height: 100vh;
	    width: 100vw;
	    z-index: 1;
	    position: absolute;
	    @include large-screens{
	    	clip-path: ellipse(70% 100% at 50% 100%);
	    }
	}
	.titlePhoto {
	    position: relative;
	    z-index: 2;
	    margin-top: -4rem;
	    width: 100vw;
	    display: flex;
	    justify-content: center;
	}
    .main-heading{
		position:relative;
		z-index: 10;
		font-weight: normal;
		margin-top: 4rem;
		font-size: 1.4rem;
		line-height: 1.3;
		overflow: hidden;
		text-align: center;
		width: 100%;
		.messages{
	        text-transform: uppercase;
	        font-weight: bold;
			font-size: 1.6rem;
	        animation: openclose 7s ease infinite;
	    }
    }
	.grid-area{
	    background-color: #f1f1f1;
	    display: flex;
	    flex-direction: column;
		padding: 0 2rem 5rem;
	    position: relative;
	    justify-content: center;
	    align-items: center;
	    z-index: 2;
	    @include medium-screens{
		    padding: 0 4rem 6rem;
	    }
	    @include large-screens {
		    display: grid;
		    grid-template-columns: 50% 50%;
		    grid-gap: 3rem;
	    }
	    .experience-section{
	      	h3{
	        	color: #35cbfa;
	      	}
	    	@include large-screens{
	      		text-align: right;
	      		h3{
	      			text-align: inherit;
	      		}
	    	}
	    }
	    .babe{
	    	animation: tilt 2s ease infinite;
	    }
	    .achievements-section{
	      	h3{
	      		color: #f76599;
	      	}
	      	.achievements p{
		        margin-bottom: 1rem;
		        font-weight: bold;
		        font-size: 14px;
		        line-height:1;
		        &::before{
		          	content: '• ';
		          	font-size: 18px;
		          	color: #000;
		        }
	      	}
	      	@include large-screens{
	      		text-align: right;
	      		h3{
	      			text-align: inherit;
	      		}
	      	}
	    }
	    .education-section{
			justify-self: center;
			h3{
				color: #35cbfa;
			}
	    }
	    .skills-section{
			font-weight: bold;
			text-align: center;
			span{
				line-height: 5;
			}
			.specific__skills, .specific__tools{
				line-height: 1.5;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				align-items: center;
				@include medium-screens{
					text-align: center;
					justify-content: center;
					grid-template-columns: repeat(5, 1fr);
				}
				p{
				 	font-size: 16px;
				}
			}
	    }    
	}
  	.works-section{
	    .fixed-banner{
			text-align: center;
			width: 100%;
			color: #35cbfa;
			background: linear-gradient(to top, #cdd2e3 0%, #f1f1f1 100%);
			.overlapImage{
				transform: translateY(-10vh);
				z-index: 3;
				height: 10rem;
				weight: 10rem;
			}
      		h2{
		        font-size: 64px;
		        font-weight: bold;
		        margin-top: -5rem;
      		}
	    }
	    .scrollable{
		    overflow-x: scroll;
	      	display: flex;
	    	.works{
	      		.preview-image{
	      			display: flex;
	      			align-items: center;
	      			margin: .5rem .3rem;
	      			.text-area{
	      				width: 100%;
	      				display: flex;
	      				flex-direction: column;
	      				justify-content: center;
		      			h3{
		      				font-size: 1.3rem;
		      			}
		      			p{
		      				color: #aaa;
		      				text-align: center;
		      			}
		      			a{
		      				color: #fff;
		      			}
	      			}
	      		}
	    	}
			&::-webkit-scrollbar {
			    height: 8px;
			}
			&::-webkit-scrollbar-thumb {
			  background-color: #010c22;
			}
	    }
	    @include large-screens{
		    .fixed-banner{
				display: flex;
				flex-direction: column;
				align-items: center;
				h2{
					margin-top: -3rem;
				}
	    	}
		}
	}
	.banner{
		z-index: 3;
	}
	.postscript{
		background-color: #f1f1f1;
		color: #321531;
		padding: 2rem 0;
		text-align: center;
		font-size: 2rem;
		h2{
			font-weight: normal;
		}
		p{
			font-size: .8rem;
			color: #32a636;
		}
		.contactMe p{
	    	font-size: .8rem;
	    	color: inherit;
	    	margin: 0;
	    }
	}
	.wave-effect{
		background-color: #f1f1f1;
		.waves{
			position:relative;
			width: 100%;
			margin-bottom:-7px; /*Fix for safari gap*/
			height:40px;
			min-height:40px;
			max-height:150px;
		}
		/* Animation */

		.parallax > use {
		  	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
		}
		.parallax > use:nth-child(1) {
		  	animation-delay: -1s;
		  	animation-duration: 15s;
		}
		.parallax > use:nth-child(2) {
		  	animation-delay: -2s;
		  	animation-duration: 10s;
		}
		.parallax > use:nth-child(3) {
		  	animation-delay: -3s;
		  	animation-duration: 8s;
		}
		.parallax > use:nth-child(4) {
		  	animation-delay: -4s;
		  	animation-duration: 5s;
		}
		@keyframes move-forever {
		  	0% {
		   		transform: translate3d(-90px,0,0);
		  	}
		  	100% { 
		    	transform: translate3d(85px,0,0);
		  	}
		}
		
		@include large-screens{
			.waves{
				height:15vh;
				min-height:100px;
			}
		}
	}

  	footer{
	    width: 100vw;
	    color: #321531;
	    max-height: 25vh;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
	    padding: 1rem 2rem;

	    .contacts-section{
	    	padding: 1rem 0;
	      	display: flex;
	      	justify-content: center;
	      	align-items: center;
	      	.contacts{
		        font-size: 1rem;
		        text-align: center;
		        line-height: 1;
		        margin: .5rem 0;
		        padding: 0 1.5rem;
		        h5{
		          	color: #999;
		        }
		        i{
		          	color: #010c22;
		          	font-size: 1.5rem;
		          	transition: .3s ease;
		          	&:hover{
		          		color: #32a636;
		          		transform: scale(1.3);
		          	}
		        }
		    }
	    }
	    .footer-logo{
	    	margin-left: auto;
	    	text-align: center;
	    	color: #010c22;
	    	.imgg{
	    		margin: 0 auto;
	    		fill: #c8e867;
	    	}
	    }
	    @include medium-screens{
		    display: flex;
		    justify-content: space-evenly;
		    .contacts-section{
		    	flex-wrap: wrap;
	      		max-width: 30vw;
		    }
	    }
    }
  	.toTop{
	    // display: none;
	    position: fixed;
	    bottom: 20px;
	    right: 30px;
	    z-index: 8;
	    transform: rotate(-90deg);
	    transition: all 1s ease;
	    i{
	    	color: #f76599;
	    }
	    &:hover{
	      	transform: translateY(5px) rotate(-120deg);
	      	i{
	      		color: #00aeff;
	      	}
	    }
    }

  	@keyframes tilt {
	    0%{
	      	transform: rotate(0deg);
	    }
	    50%{
	      	transform: rotate(-1deg);
	    }
	    100%{
	      	transform: rotate(0deg);
	    }
  	}
  	@keyframes openclose {
	    0% {
	      	color: #35cbfa;
	    }
	    25% {
	      	color: green;
	    }
	    50% {
	      	color: #f76599;
	    }
	    75% {
	    	color: green;
	    }
	    100% {
	      	color: #35cbfa;
	    }
  	}
}