@import './works/web.scss';
@import './works/art.scss';

.projects{
    background-color: #f1f1f1;
	overflow: hidden;
    .fixed-banner{
        position: fixed;
        text-align: center;
        width: 100%;
        color: #010c22;
        padding-bottom: 1rem;
        background-color: #f1f1f1;
        z-index: 10000;
        .overlapImage{
            height: 10rem;
        }
        .tabs{
            padding: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-weight: bold;
            font-size: 1.5rem;
            span{
                padding: 0 1rem;
                font-size: 1.5rem;
                text-decoration: none;
                color: #010d22;
                transition: .3s ease all;
                &:hover,
                &:focus,
                &:active{
                    cursor: pointer;
                    color: green;
                    border-bottom: 3px solid green;
                }
            }
        }
    }

    .portfolioBlock{
        padding-top: 11rem;
        h2{
            font-size: 40px;
            margin: 3rem 0 1rem 0;
            font-weight: bold;
            text-align: center;
        }
    }
}